<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SecretDesktop</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A306584FD36239782DCAC641A0F1DA9A3A7F1EEA</string>
				<key>dateExpires</key>
				<string>2023/06/25</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
			</dict>
			<key>name</key>
			<string>SecretDesktop.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VJ5N2X84K8</string>
				<key>name</key>
				<string>Takuto Nakamura</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
